<h1>Builds
	<small>{{app.application.name}}</small>
</h1>

<ol class="breadcrumb">
	<li>
		<i class="icon-gauge"></i> 
		<a href="#/dashboard">
			Dashboard
		</a>
	</li>
	<li class="active">
		<i class="icon-rocket"></i> Builds
	</li>	
</ol>

<div class="panel panel-default">
	<div class="panel-heading">Builds <a style="text-align: right; float: right" data-ng-click="reload()"><i class="icon-arrows-cw"></i></a></div>
	<div class="panel-body" style="padding: 0px !important;">
		<div data-timeline="builds" data-timeline-options="options" data-timelineSelect="timelineSelect" ></div>
	</div>
</div>