<h1>Builds
	<small>{{app.application.name}}</small>
</h1>

<ol class="breadcrumb">
	<li>
		<i class="icon-gauge"></i> 
		<a href="#/dashboard">
			Dashboard
		</a>
	</li>
	<li class="active">
		<i class="icon-rocket"></i> Builds
	</li>	
</ol>

<div class="panel panel-default">
	<div class="panel-heading">Builds <a style="text-align: right; float: right" data-ng-click="reload()"><i class="icon-arrows-cw"></i></a></div>
	<div class="panel-body" style="padding: 0px !important;">
		<div data-timeline="builds" data-timeline-options="options" ></div>
	</div>
</div>

<div class="row" data-ng-show="build">
	<div class="col-lg-6">
		<div class="panel panel-success" >
			<div class="panel-heading">Maven</div>
			<div class="panel-body">
				<table class="table">
					<tr>
						<td>GroupId</td>
						<td>{{build.groupId}}</td>
					</tr>
					<tr>
						<td>ArtifactId</td>
						<td>{{build.artifactId}}</td>
					</tr>
					<tr>
						<td>Version</td>
						<td>{{build.mavenVersion}}</td>
					</tr>					
				</table>		
			</div>
			<a href="{{build.link}}" data-ng-show="build.link">
				<div class="panel-footer">Download
					<div style="text-align: right; float: right"><i class="icon-download-cloud"></i></div>
				</div>
			</a>
			<div class="panel-footer" data-ng-show="!(build.link)">&nbsp;</div>
		</div>
	</div>	
	<div class="col-lg-6">
		<div class="panel panel-success">
			<div class="panel-heading">Build</div>
			<div class="panel-body">

				<table class="table">
					<tr>
						<td>Time</td>
						<td>{{build.date| date:'medium'}}</td>
					</tr>
					<tr>
						<td>Release candidate</td>
						<td>{{build.build}}</td>
					</tr>
					<tr>
						<td>Commit</td>
						<td>{{build.scm}}</td>
					</tr>	
					<tr>
						<td>Agent version</td>
						<td>{{build.ver}}</td>
					</tr>					
				</table>					
			</div>
			
			<a href="#/activity/{{build.guid}}">
				<div class="panel-footer">Activity
					<div style="text-align: right; float: right"><i class="icon-fork"></i></div>
				</div>
			</a>			
		</div>
	</div>

	<div class="col-lg-6">
		<div class="panel panel-success">
			<div class="panel-heading">Manifest</div>			
			<div class="panel-body" >
				<h4 data-ng-hide="manifest" style="text-align: center;"><span class="label label-info">No information</span ></h4>
				<table class="table" data-ng-show="manifest">
					<tr data-ng-repeat="(n,v) in build.manifest">
						<td>{{n}}</td>
						<td>{{v}}</td>
					</tr>
				</table>
			</div>	
		</div>	
	</div>	
	<div class="col-lg-6">
		<div class="panel panel-success">
			<div class="panel-heading">Other</div>
			<div class="panel-body">
				<h4 data-ng-hide="other" style="text-align: center;"><span class="label label-info">No information</span ></h4>
				<table class="table" data-ng-show="other">
					<tr data-ng-repeat="(n,v) in build.other">
						<td>{{n}}</td>
						<td>{{v}}</td>
					</tr>
				</table>
			</div>	
		</div>	
	</div>	
</div>